{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Читательский дневник{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display&display=swap" rel="stylesheet" />
</head>
<body>
  <header class="header">
    <div class="container header__container">
      <a href="{% url 'index' %}" class="header__logo">Читательский дневник</a>
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="{% url 'profile' %}" class="nav__link">Профиль</a></li>
          <li><a href="{% url 'user_books' %}" class="nav__link">Мои книги</a></li>
          <li><a href="{% url 'catalog' %}" class="nav__link nav__link--active">Каталог книг</a></li>
          <!-- <li><a href="{% url 'genres' %}" class="nav__link">Жанры</a></li> -->
          <li><a href="{% url 'genres_and_authors' %}" class="nav__link">Информация</a></li>
          <li><a href="{% url 'diary' %}" class="nav__link">Дневник</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <div class="main container">
    {% block content %}{% endblock %}
  </div>






  <footer class="footer">
    <div class="container footer__container">
      <p>© 2025 Читательский дневник</p>
    </div>
  </footer>
</body>
</html>
